<!DOCTYPE html>
<html>
<head>
	<title>The Youtube Game</title>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/app.css">
	<link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:400,600,900" rel="stylesheet">
	<link rel="icon" href="/logo2.png">
	
</head>
<body>
	
<div class = "logo">
		<a href="/"><img id="logoI" src="/logo.png"></a>
</div>

